<h4>Editing Insurance Policy</h4>

<%= render 'form', insurance_policy: @insurance_policy %>

<div class="form-group">
  <%= link_to 'Show', @insurance_policy, class: "btn btn-warning", role: "button" %>
  <%= link_to 'Back', insurance_policies_path, class: "btn btn-warning", role: "button" %>
</div>
