<table class="table table-bordered" style="width: 75%;">
  <tr>
    <th>Policy No:
    </th>
    <td><%= renewal.policyno %></td>
  </tr>

  <tr>
    <th>Begin Date:
    </th>
    <td><%= renewal.begin_date %></td>
  </tr>

  <tr>
    <th>Expiry date:
    </th>
    <td><%= renewal.expiry_date %></td>
  </tr>

</table>
