<div class="card card-body bg-light">
  <h3>New Renewal</h3>

  <%= render 'form', renewal: @renewal %>
  <br />
  <div class="form-group">
    <%= link_to 'Back', insurance_policies_path, class: "btn btn-warning"  %>
  </div>
</div>
